@import "../../../scss/variables/variables.scss";

.searchEngineMobile--bright {
  background: rgba(255, 255, 255, 0.85);
  .searchEngineMobile__selectContainer {
    .selectContainer__field {
      background: $color2;
      color: $color1;
    }
    .selectContainer__options {
      .options__option {
        background: $color3;
        border-bottom: 10px solid $color2;
        color: $color2;
      }
    }
  }
  .searchEngineMobile__field::-webkit-input-placeholder {
    color: $color1;
  }
  .searchEngineMobile__fieldContainer::before {
    background: $color6;
    color: $color1;
  }
  .searchEngineMobile__fieldContainer {
    .fieldContainer__field::-webkit-input-placeholder {
      color: $color1;
    }
    .fieldContainer__field {
      background: $color2;
      color: $color1;
    }
  }
  .searchEngineMobile__field {
    background: $color2;
    color: $color1;
  }
  .searchEngineMobile__field--more {
    background: $color3;
    color: $color2;
  }
  .searchEngineMobile__field--search {
    background: rgba(130, 130, 130, 0.85);
    color: $color2;
  }
  .searchEngineMobile__decoration--left {
    background: rgba(255, 255, 255, 0.9);
  }
}
.searchEngineMobile--dark {
  background: rgba(0, 0, 0, 0.85);
  .searchEngineMobile__selectContainer {
    .selectContainer__field {
      background: $color3;
      color: $color2;
    }
    .selectContainer__options {
      .options__option {
        background: $color2;
        border-bottom: 10px solid $color3;
        color: $color1;
      }
    }
  }
  .searchEngineMobile__field::-webkit-input-placeholder {
    color: $color2;
  }
  .searchEngineMobile__fieldContainer::before {
    background: $color5;
    color: $color2;
  }
  .searchEngineMobile__fieldContainer {
    .fieldContainer__field::-webkit-input-placeholder {
      color: $color2;
    }
    .fieldContainer__field {
      background: $color3;
      color: $color2;
    }
  }
  .searchEngineMobile__field {
    background: $color3;
    color: $color2;
  }
  .searchEngineMobile__field--more {
    background: $color2;
    color: $color1;
  }
  .searchEngineMobile__field--search {
    background: $color5;
    color: $color2;
  }
  .searchEngineMobile__decoration--left {
    background: $color5;
  }
}
.searchEngineMobile {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  .searchEngineMobile__selectContainer:nth-of-type(1) {
    margin-top: 20px;
  }
  .searchEngineMobile__selectContainer {
    width: 90%;
    position: relative;
    max-width: 600px;
    .selectContainer__field {
      width: 100%;
      text-align: center;
      margin-bottom: 12px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 14px;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    }
    .selectContainer__options {
      display: none;
      width: 100%;
      position: absolute;
      top: 100%;
      z-index: 2;
      .options__option {
        text-align: center;
        padding: 7px;
        font-size: 14px;
      }
    }
  }
  .searchEngineMobile__field--more {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  }
  .searchEngineMobile__field--search {
    min-height: 40px;
    clip-path: polygon(20% 0, 80% 0, 50% 100%, 50% 100%);
    display: flex;
    justify-content: center;
  }
  .searchEngineMobile__field {
    width: 90%;
    max-width: 600px;
    border: none;
    margin-bottom: 12px;
    font-size: 14px;
    padding: 7px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: none;
  }
  .searchEngineMobile__fieldContainer {
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    position: relative;
    .fieldContainer__field {
      width: 100%;
      border: none;
      margin-bottom: 12px;
      font-size: 14px;
      padding: 7px;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      cursor: none;
    }
  }
  .searchEngineMobile__fieldContainer::before {
    content: "";
    position: absolute;
    right: 0;
    height: 30px;
    width: 20%;
    font-size: 14px;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .searchEngineMobile__fieldContainer--livingAreaFromPL::before {
    content: "M2";
  }
  .searchEngineMobile__fieldContainer--livingAreaFromEN::before {
    content: "M2";
  }
  .searchEngineMobile__fieldContainer--livingAreaToPL::before {
    content: "M2";
  }
  .searchEngineMobile__fieldContainer--livingAreaToEN::before {
    content: "M2";
  }
  .searchEngineMobile__fieldContainer--priceFromPL::before {
    content: "ZŁ";
  }
  .searchEngineMobile__fieldContainer--priceFromEN::before {
    content: "PLN";
  }
  .searchEngineMobile__fieldContainer--priceToPL::before {
    content: "ZŁ";
  }
  .searchEngineMobile__fieldContainer--priceToEN::before {
    content: "PLN";
  }
  .searchEngineMobile__fieldContainer--roomsFromPL::before {
    content: "OD";
  }
  .searchEngineMobile__fieldContainer--roomsFromEN::before {
    content: "FROM";
  }
  .searchEngineMobile__fieldContainer--roomsToPL::before {
    content: "DO";
  }
  .searchEngineMobile__fieldContainer--roomsToEN::before {
    content: "TO";
  }
  .searchEngineMobile__fieldContainer--floorFromPL::before {
    content: "OD";
  }
  .searchEngineMobile__fieldContainer--floorFromEN::before {
    content: "FROM";
  }
  .searchEngineMobile__fieldContainer--floorToPL::before {
    content: "DO";
  }
  .searchEngineMobile__fieldContainer--floorToEN::before {
    content: "TO";
  }
  .searchEngineMobile__fieldContainer--buildYearFromPL::before {
    content: "OD";
  }
  .searchEngineMobile__fieldContainer--buildYearFromEN::before {
    content: "FROM";
  }
  .searchEngineMobile__fieldContainer--buildYearToPL::before {
    content: "DO";
  }
  .searchEngineMobile__fieldContainer--buildYearToEN::before {
    content: "TO";
  }
  .searchEngineMobile__decoration--left {
    position: relative;
    left: 0;
    bottom: -1px;
    height: 120px;
    width: 100%;
    clip-path: polygon(0 10%, 68% 49%, 37% 100%, 0% 100%);
    z-index: 1;
  }
  .searchEngineMobile__decoration--right {
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 120px;
    width: 100%;
    clip-path: polygon(100% 25%, 100% 100%, 0% 100%);
    background: $color3;
  }
}
