@import "../../../scss/variables/variables.scss";
// STYLING DIVIDED INTO BRIGHT AND DARK WEBSITE MODE
// BRIGHT
.sellRentMobile--bright {
  .sellRentMobile__specialisations {
    background-color: $color2;
  }
}
// DARK
.sellRentMobile--dark {
  .sellRentMobile__specialisations {
    background-color: $color3;
  }
}
// LAYOUT
.sellRentMobile {
  .sellRentMobile__contactForm {
    height: 1000px;
  }
  .sellRentMobile__specialisations {
    height: 1000px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
