@import "../../../scss/variables/variables.scss";
// STYLING
.aboutUsDesktop--styling {
  .aboutUsDesktop__textContainer {
    .textContainer__paragraph {
      font-size: 14px;
    }
  }
  .aboutUsDesktop__decoration {
    background-color: $color3;
  }
}
// STYLING DIVIDED INTO BRIGHT AND DARK WEBSITE MODE
// BRIGHT
.aboutUsDesktop--bright {
  background-color: $color2;
  .aboutUsDesktop__textContainer {
    .textContainer__header {
      color: $color3;
    }
    .textContainer__paragraph {
      color: $color3;
    }
    .textContainer__logoContainer {
      .logoContainer__logo {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
// DARK
.aboutUsDesktop--dark {
  background-color: $color4;
  .aboutUsDesktop__textContainer {
    .textContainer__header {
      color: $color2;
    }
    .textContainer__paragraph {
      color: $color2;
    }
    .textContainer__logoContainer {
      .logoContainer__logo {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
// LAYOUT
.aboutUsDesktop {
  width: 100vw;
  display: flex;
  .aboutUsDesktop__textContainer {
    width: 82%;
    .textContainer__header {
      position: relative;
      left: 52.5%;
      margin-top: 200px;
      margin-bottom: 50px;
    }
    .textContainer__header:nth-of-type(2) {
      left: 47.5%;
    }
    .textContainer__paragraph {
      text-align: left;
      margin-left: 220px;
      margin-right: 150px;
      line-height: 22px;
      @media screen and (max-width: 1600px) {
        margin-left: 120px;
        margin-right: 50px;
      }
      .paragraph__img {
        width: 500px;
        float: left;
        padding-right: 15px;
      }
    }
    .textContainer__logoContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      margin-left: 220px;
      margin-right: 150px;
      @media screen and (max-width: 1600px) {
        margin-left: 120px;
        margin-right: 50px;
      }
      .logoContainer__logo {
        width: 250px;
      }
    }
  }
  .aboutUsDesktop__decoration {
    width: 18%;
    clip-path: polygon(20% 6vw, 100% 0, 100% 100%, 0% 100%);
  }
}
