@import "../../../scss/variables/variables.scss";
// STYLING
.footerMobile--styling {
  .footerMobile__topContainer {
    .topContainer__leftContainer {
      background-image: url(../../../assets/images/186077.jpg);
      .leftContainer__containerBackground {
        .containerBackground__text {
          font-size: 24px;
        }
      }
    }
    .topContainer__rightContainer {
      background: $color3;
      .rightContainer__text {
        font-size: 24px;
        color: $color2;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
  .footerMobile__middleContainer {
    .middleContainer__leftContainer {
      background-image: url(../../../assets/images/1438834.jpg);
      .leftContainer__containerBackground {
        .containerBackground__companyData {
          .companyData__information {
            font-size: 12px;
            @media screen and (min-width: $breaktPoint_600) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .middleContainer__rightContainer {
      background: $color3;
      .rightContainer__dataInformation {
        color: $color2;
        font-size: 12px;
        @media screen and (min-width: $breaktPoint_600) {
          font-size: 14px;
        }
      }
    }
  }
  .footerMobile__bottomContainer {
    .bottomContainer__text {
      font-size: 8px;
    }
    .bottomContainer__rightBackgroundContainer {
      background: $color3;
    }
  }
}
// STYLING DIVIDED INTO BRIGHT AND DARK WEBSITE MODE
// BRIGHT
.footerMobile--bright {
  .footerMobile__topContainer {
    .topContainer__leftContainer {
      .leftContainer__containerBackground {
        background: rgba(255, 255, 255, 0.7);
        .containerBackground__text {
          color: $color1;
          .text__icon {
            color: $color3;
          }
        }
      }
    }
  }
  .footerMobile__middleContainer {
    .middleContainer__leftContainer {
      .leftContainer__containerBackground {
        background: rgba(255, 255, 255, 0.7);
        .containerBackground__companyData {
          .companyData__information {
            color: $color1;
          }
        }
      }
    }
  }
  .footerMobile__bottomContainer {
    background: rgba(198, 218, 233, 1);
    .cbottomContainer__text {
      color: $color1;
    }
    .bottomContainer__leftBackgroundContainer {
      background: rgba(198, 218, 233, 1);
    }
  }
}
// DARK
.footerMobile--dark {
  .footerMobile__topContainer {
    .topContainer__leftContainer {
      .leftContainer__containerBackground {
        background: rgba(0, 0, 0, 0.7);
        .containerBackground__text {
          color: $color2;
          .text__icon {
            color: $color2;
          }
        }
      }
    }
  }
  .footerMobile__middleContainer {
    .middleContainer__leftContainer {
      .leftContainer__containerBackground {
        background: rgba(0, 0, 0, 0.7);
        .containerBackground__logo {
          filter: $logoFilter;
        }
        .containerBackground__companyData {
          .companyData__information {
            color: $color2;
          }
        }
      }
    }
  }
  .footerMobile__bottomContainer {
    background: $color4;
    .bottomContainer__text {
      color: $color2;
    }
    .bottomContainer__leftBackgroundContainer {
      background: $color4;
    }
  }
}
// LAYOUT
.footerMobile {
  overflow: hidden;
  .footerMobile__topContainer {
    width: 100vw;
    height: 350px;
    display: flex;
    position: relative;
    .topContainer__map {
      height: 98.5%;
      width: 100%;
      position: absolute;
    }
    .topContainer__leftContainer--show {
      animation-name: mapLeftContainerShow;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      transition: ease-out;
    }
    .topContainer__leftContainer {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      .leftContainer__containerBackground {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .containerBackground__text {
          text-align: center;
        }
      }
    }
    .topContainer__rightContainer--show {
      animation-name: mapRightContainerShow;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      transition: ease-out;
    }
    .topContainer__rightContainer {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .rightContainer__text {
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .footerMobile__middleContainer {
    width: 100vw;
    height: 350px;
    display: flex;
    .middleContainer__leftContainer {
      width: 60%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      .leftContainer__containerBackground {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .containerBackground__logo {
          height: 120px;
        }
        .containerBackground__companyData {
          width: 75%;
          .companyData__information {
            text-align: center;
            margin: 0 0 10px 0;
          }
          .companyData__information:nth-of-type(3) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .middleContainer__rightContainer {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      .rightContainer__dataInformation:nth-of-type(1) {
        margin-top: 168px;
        margin-bottom: 44px;
      }
      .rightContainer__dataInformation {
        margin: 0 0 10px 10px;
      }
    }
  }
  .footerMobile__bottomContainer {
    height: 25px;
    display: flex;
    position: relative;
    .bottomContainer__text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .bottomContainer__leftBackgroundContainer {
      height: 100%;
      width: 60%;
    }
    .bottomContainer__rightBackgroundContainer {
      height: 100%;
      width: 40%;
      clip-path: polygon(1% 0, 100% 0, 100% 100%, 70% 100%);
    }
  }
}
// ANIMATIONS
@keyframes mapLeftContainerShow {
  0% {
    right: 0%;
    width: 60%;
  }
  100% {
    right: 60%;
    width: 0%;
  }
}
@keyframes mapRightContainerShow {
  from {
    left: 0%;
    width: 40%;
  }
  to {
    left: 140%;
    width: 0%;
  }
}
