// NORMALIZE SECOND FILE
html {
  cursor: none; 
  overflow-x: hidden;
}

a,
i,
div,
button,
span,
ul,
li {
  cursor: none !important; // PREVENTS DOUBLES CURSOR
}

body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
