@import "../../scss/variables/variables.scss";
// STYLING DIVIDED INTO DARK MODE AND BRIGHT MODE
.offer--bright {
  .offer__searchBackground {
    .searchBackground__background {
      background: rgba(255, 255, 255, 0.75);
      .background__info {
        background: rgba(255, 255, 255, 0.85);
        color: $color1;
      }
      .background__info--mobile {
        font-weight: 500;
        font-size: 18px;
      }
      .background__info--desktop {
        .info__txt {
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
  .offer__specialisations {
    background: rgba(255, 255, 255, 0.75);
  }
}
.offer--dark {
  .offer__searchBackground {
    .searchBackground__background {
      background: rgba(0, 0, 0, 0.75);
      .background__info {
        background: rgba(0, 0, 0, 0.7);
        color: $color2;
      }
      .background__info--mobile {
        font-weight: 500;
        font-size: 18px;
      }
      .background__info--desktop {
        .info__txt {
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
  .offer__specialisations {
    background: $color3;
  }
}

// LAYOUT
.offer {
  .sliderDesktop {
    .sliderDesktop__containerButton {
      display: none; // REMOVE PART OF CLICKABLE SLIDER
    }
    .sliderDesktop__smallSlidesContainer {
      display: none; // REMOVE PART OF CLICKABLE SLIDER
    }
  }
  .sliderMobile {
    .sliderMobile__smallSlidesContainer {
      display: none; // REMOVE PART OF CLICKABLE SLIDER
    }
  }
  .offer__searchBackground {
    height: 415px;
    @media screen and (min-width: 1201px) {
      height: 900px;
    }
    width: 100vw;
    background-image: url(../../assets/images/2251247.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .searchBackground__background {
      height: 100%;
      width: 100%;
      position: relative;
      .background__info {
        position: absolute;
        box-sizing: border-box;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        width: 85vw;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      // MOBILE
      .background__info--mobile {
        height: 60px;
      }
      // DESKTOP
      .background__info--desktop {
        height: 330px;
        display: flex;
        flex-direction: column;
        .info__txt {
          margin-bottom: 12px;
        }
        .info__container {
          width: 100%;
          height: 80%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
  .offer__specialisations {
    height: 1000px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
