// STYLING
.darkModeButton--bright {
  background: rgba(255, 255, 255, 0.4);
  .darkModeButton__icon {
    color: rgba(0, 0, 0, 0.7);
  }
}
.darkModeButton--dark {
  background: rgba(0, 0, 0, 0.4);
  .darkModeButton__icon {
    color: rgba(255, 255, 255, 0.7);
  }
}
// LAYOUT
.darkModeButton {
  height: 45px;
  width: 45px;
  border: none;
  clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  .darkModeButton__icon {
    position: relative;
    top: 13px;
    left: 0px;
  }
}
