@import "../../../scss/variables/variables.scss";

.footerDesktop--bright {
  .footerDesktop__middleContainer {
    .middleContainer__leftContainer {
      background: rgba(255, 255, 255, 0.7);
    }
    .middleContainer__rightContainer {
      .rightContainer__leftContainer {
        .leftContainer__backgroundContainer {
          background: rgba(255, 255, 255, 0.7);
          .backgroundContainer__textContainer {
            color: $color1;
            .textContainer__icon {
              color: $color3;
            }
          }
        }
      }
      .rightContainer__rightContainer {
        .rightContainer__backgroundContainer {
          background: rgba(255, 255, 255, 0.4);
          .backgroundContainer__textContainer {
            color: $color1;
            .textContainer__icon {
              color: $color3;
            }
          }
        }
      }
    }
  }
  .footerDesktop__bottomContainer {
    background: rgba(198, 218, 233, 1);
    .bottomContainer__leftContainer {
      background: rgba(198, 218, 233, 1);
    }
  }
}

.footerDesktop--dark {
  .footerDesktop__middleContainer {
    .middleContainer__leftContainer {
      background: rgba(0, 0, 0, 0.7);
      .leftContainer__logoContainer {
        .logoContainer__logo {
          filter: $logoFilter;
        }
      }
    }
    .middleContainer__rightContainer {
      .rightContainer__leftContainer {
        .leftContainer__backgroundContainer {
          background: rgba(0, 0, 0, 0.7);
          .backgroundContainer__textContainer {
            color: $color2;
            .textContainer__icon {
              color: $color2;
            }
          }
        }
      }
      .rightContainer__rightContainer {
        .rightContainer__backgroundContainer {
          background: rgba(0, 0, 0, 0.7);
          .backgroundContainer__textContainer {
            color: $color2;
          }
        }
      }
    }
  }
  .footerDesktop__bottomContainer {
    background: $color4;
    .bottomContainer__leftContainer {
      background: $color4;
    }
  }
}

.footerDesktop {
  position: relative;
  .footerDesktop__topContainer {
    top: 0;
    left: -50%;
    transform: translate(0.08%, 0);
    height: 0;
    width: 98.85vw;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out;
  }
  .footerDesktop__topContainer--show {
    animation-name: desktopShowMap;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transition: ease-in;
  }
  .footerDesktop__topContainer--hide {
    animation-name: desktopHideMap;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transition: ease-in;
  }

  .footerDesktop__middleContainer {
    width: 100%;
    height: 250px;
    background-image: url(../../../assets/images/1438834.jpg);
    background-position: 20% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    .middleContainer__leftContainer {
      height: 100%;
      width: 60%;
      display: flex;
      position: relative;
      .leftContainer__logoContainer {
        position: absolute;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        .logoContainer__logo {
          width: 180px;
        }
      }
      .leftContainer__dataContainer {
        height: 100%;
        width: 100%;
        background: $color3;
        clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        .dataContainer__left {
          width: 40%;
        }
        .dataContainer__right {
          width: 60%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .right__addressContainer {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .addressContainer__element:first-child {
              font-size: 20px;
              align-self: center;
              margin-bottom: 10px;
            }
            .addressContainer__element {
              font-size: 14px;
              margin: 0 0 15px 0;
              color: $color2;
            }
          }
          .right__infoContainer {
            margin-top: 43px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .infoContainer__element {
              font-size: 14px;
              margin: 0 0 15px 0;
              color: $color2;
            }
          }
        }
      }
    }
    .middleContainer__rightContainer {
      height: 100%;
      width: 40%;
      display: flex;
      .rightContainer__leftContainer {
        width: 60%;
        height: 100%;
        background-image: url(../../../assets/images/186077.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .leftContainer__backgroundContainer {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .backgroundContainer__textContainer {
            font-size: 24px;
            text-align: center;
          }
        }
      }
      .rightContainer__rightContainer {
        width: 40%;
        height: 100%;
        background-image: url(../../../assets/images/34753.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .rightContainer__backgroundContainer {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .backgroundContainer__textContainer {
            cursor: pointer;
            font-size: 24px;
            text-align: center;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }
  .footerDesktop__bottomContainer {
    width: 100%;
    height: 25px;
    position: relative;
    display: flex;
    .bottomContainer__text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      z-index: 1;
      color: white;
    }
    .bottomContainer__leftContainer {
      height: 100%;
      width: 30%;
    }
    .bottomContainer__rightContainer {
      height: 100%;
      width: 70%;
      background: $color3;
      clip-path: polygon(0% -10%, 100% -10%, 100% 100%, 10% 100%);
    }
  }
}

@keyframes desktopShowMap {
  0% {
    height: 60vh;
    position: absolute;
    visibility: visible;
  }

  100% {
    height: 60vh;
    position: static;
    visibility: visible;
  }
}

@keyframes desktopHideMap {
  0% {
    height: 60vh;
    position: static;
    visibility: visible;
  }
  99% {
    position: static;
    visibility: visible;
  }
  100% {
    height: 0;
    position: absolute;
    visibility: hidden;
  }
}
