.offer {
  .sliderDesktop {
    .sliderDesktop__containerButton {
        display: none;
    }
    .sliderDesktop__smallSlidesContainer {
        display: none;
    }
  }
  .sliderMobile {
    .sliderMobile__smallSlidesContainer {
      display: none;
    }
  }
}