@import "../../scss/variables/variables.scss";

.headerMobile {
  height: 70px;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  .headerMobile__logo {
    margin-left: 10px;
    height: 120px;
  }
  .headerMobile__navContainer {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navContainer__optionsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
}
