@import "../../../scss/variables/variables.scss";
// STYLING
.headerDesktop--styling {
  .headerDesktop__containerTop {
    background: $color3;
    .containerTop__left {
      .left__emailContainer {
        color: $color2;
        font-size: 12px;
      }
      .left__phoneContainer {
        color: $color2;
        font-size: 12px;
      }
      .left__line {
        background-color: $color2;
      }
    }
    .containerTop__central {
      .central__decorationContainer {
        .decorationContainer__decoration {
          background-color: $color2;
        }
      }
      .central__logo {
        filter: $logoFilter;
        background-image: url(../../../assets/logo.svg);
      }
    }
  }
  .headerDesktop__containerBottom {
    font-size: 14px;
    .containerBottom__link {
      text-decoration: none;
    }
  }
}
// STYLING DIVIDED INTO BRIGHT AND DARK WEBSITE MODE
// BRIGHT
.headerDesktop--bright {
  .headerDesktop__containerTop {
    .containerTop__right {
      background: $color5;
      .right__line {
        background: white;
      }
      .right__backgroundBox {
        background: $color5;
      }
    }
  }
  .headerDesktop__containerBottom {
    background: rgba(255, 255, 255, 0.9);
    .containerBottom__link {
      color: $color1;
    }
  }
}
// DARK
.headerDesktop--dark {
  .headerDesktop__containerTop {
    .containerTop__right {
      background: $color1;
      .right__line {
        background: white;
      }
      .right__backgroundBox {
        background: $color1;
      }
      .right__optionsContainer {
        .darkModeButton {
          background: $color2;
          .darkModeButton__icon {
            color: $color1;
          }
        }
        .languageButton {
          background: $color2;
          .languageButton__countryText {
            color: $color1;
          }
        }
      }
    }
  }
  .headerDesktop__containerBottom {
    background: rgba(0, 0, 0, 0.9);
    .containerBottom__link {
      color: $color2;
    }
  }
}
// LAYOUT
.headerDesktop {
  position: fixed;
  z-index: 3;
  .headerDesktop__containerTop {
    width: 100vw;
    height: 50px;
    background: $color3;
    display: flex;
    .containerTop__left {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      position: relative;
      .left__emailContainer {
        margin-bottom: 5px;
      }
      .left__phoneContainer {
        margin-bottom: 5px;
      }
      .left__line {
        height: 100%;
        width: 40px;
        clip-path: polygon(95% 0, 100% 0, 5% 100%, 0 100%);
        position: absolute;
        z-index: 2;
      }
      .left__line--1 {
        right: -30px;
      }
      .left__line--2 {
        right: -40px;
      }
      .left__line--3 {
        right: -50px;
      }
    }
    .containerTop__central {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .central__decorationContainer {
        height: 40%;
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .decorationContainer__decoration {
          position: relative;
        }
        .decorationContainer__decoration--left1 {
          height: 1px;
          width: 50%;
          align-self: flex-end;
        }
        .decorationContainer__decoration--left2 {
          right: 10px;
          height: 1px;
          width: 75%;
          align-self: flex-end;
        }
        .decorationContainer__decoration--left3 {
          right: 20px;
          top: 1px;
          height: 1px;
          width: 100%;
          align-self: flex-end;
        }
        .decorationContainer__decoration--right1 {
          height: 1px;
          width: 50%;
          align-self: flex-start;
        }
        .decorationContainer__decoration--right2 {
          left: 10px;
          height: 1px;
          width: 75%;
          align-self: flex-start;
        }
        .decorationContainer__decoration--right3 {
          left: 20px;
          top: 1px;
          height: 1px;
          width: 100%;
          align-self: flex-start;
        }
      }
      .central__logo {
        height: 90%;
        width: 100px;
        overflow: hidden;
      }
    }
    .containerTop__right {
      height: 100%;
      width: 25%;
      position: relative;
      .right__line {
        height: 100%;
        width: 40px;
        clip-path: polygon(0 0, 5% 0, 100% 100%, 95% 100%);
        position: absolute;
        z-index: 2;
      }
      .right__line--1 {
        left: -30px;
      }
      .right__line--2 {
        left: -40px;
      }
      .right__line--3 {
        left: -50px;
      }
      .right__backgroundBox {
        position: absolute;
        height: 100%;
        width: 70px;
        left: -50px;
        clip-path: polygon(0 0, 55% 100%, 100% 100%, 100% 0);
      }
      .right__optionsContainer {
        position: relative;
        .darkModeButton {
          position: absolute;
          top: -5px;
          left: 50px;
        }
        .languageButton {
          position: absolute;
          top: 8px;
          left: 20px;
        }
        .languagesList {
          position: absolute;
          top: 30px;
          left: -50px;
        }
      }
    }
  }
  .headerDesktop__containerBottom {
    width: 100vw;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
