@import "../../../scss/variables/variables.scss";
// STYLING
.privacyPolicyMobile--styling {
  .privacyPolicyMobile__container {
    border: 5px solid $color3;
    .container__header {
      .container__header {
        font-size: 18px;
      }
    }
    .container__paragraph {
      font-size: 14px;
      line-height: 16px;
      text-align: left;
    }
  }
}
// STYLING DIVIDED INTO BRIGHT AND DARK WEBSITE MODE
// BRIGHT
.privacyPolicyMobile--bright {
  background-color: $color2;
  .privacyPolicyMobile__container {
    background-color: $color2;
    .container__header {
      color: $color3;
    }
    .container__paragraph {
      color: $color3;
    }
  }
}
// DARK
.privacyPolicyMobile--dark {
  background-color: $color4;
  .privacyPolicyMobile__container {
    background-color: $color3;
    .container__header {
      color: $color2;
    }
    .container__paragraph {
      color: $color2;
    }
  }
}
// LAYOUT
.privacyPolicyMobile {
  width: 100vw;
  display: flex;
  justify-content: center;
  .privacyPolicyMobile__container {
    width: 90%;
    margin: 15px 0 15px 0;
    .container__header {
      text-align: center;
    }
    .container__paragraph {
      padding: 0px 20px 0 20px;
    }
  }
}
