@import "../../scss/variables/variables.scss";

.footerMobile {
  overflow: hidden;
  .footerMobile__map {
    width: 100vw;
    height: 350px;
    display: flex;
    position: relative;
    .map__map {
      height: 98.5%;
      width: 100%;
      position: absolute;
    }
    .map__leftContainer--show {
      animation-name: mapLeftContainerShow;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      transition: ease-out;
    }
    .map__leftContainer {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 60%;
      background-image: url(../../assets/images/186077.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      .leftContainer__container--bright {
        background: rgba(255, 255, 255, 0.7);
      }
      .leftContainer__container--dark {
        background: rgba(0, 0, 0, 0.7);
      }
      .leftContainer__container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container__text--dark {
          color: $color2;
        }
        .container__text--bright {
          color: $color1;
        }
        .container__text {
          font-size: 24px;
          text-align: center;
        }
        .container__icon--bright {
          color: $color3;
        }
        .container__icon--dark {
          color: $color2;
        }
      }
    }
    .map__rightContainer--show {
      animation-name: mapRightContainerShow;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      transition: ease-out;
    }
    .map__rightContainer {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 40%;
      background: $color3;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .rightContainer__text {
        color: white;
        font-size: 24px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
      }
    }
  }
  .footerMobile__data {
    width: 100vw;
    height: 350px;
    display: flex;
    .data__leftContainer {
      width: 60%;
      height: 100%;
      background-image: url(../../assets/images/1438834.jpg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      .leftContainer__container--bright {
        background: rgba(255, 255, 255, 0.7);
      }
      .leftContainer__container--dark {
        background: rgba(0, 0, 0, 0.7);
      }
      .leftContainer__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .container__logo--dark {
          filter: $logoFilter;
        }
        .container__logo {
          height: 120px;
        }
        .container__companyData {
          width: 75%;
          .companyData__information--bright {
            color: $color1;
          }
          .companyData__information--dark {
            color: $color2;
          }
          .companyData__information {
            font-size: 12px;
            text-align: center;
            margin: 0 0 10px 0;
          }
          .companyData__information:nth-of-type(3) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .data__rightContainer {
      width: 40%;
      height: 100%;
      background: $color3;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      .rightContainer__dataInfo:nth-of-type(1) {
        margin-top: 168px;
        margin-bottom: 44px;
      }
      .rightContainer__dataInfo {
        margin: 0 0 10px 10px;
        font-size: 12px;
        color: $color2;
      }
    }
  }
  .footerMobile__copyright--bright {
    background: rgba(198, 218, 233, 1);
  }
  .footerMobile__copyright--dark {
    background: $color4;
  }
  .footerMobile__copyright {
    height: 25px;
    display: flex;
    position: relative;
    .copyright__text--bright {
      color: $color1;
    }
    .copyright__text--dark {
      color: $color2;
    }
    .copyright__text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 10px;
      z-index: 1;
    }
    .copyright__leftContainer--bright {
      background: rgba(198, 218, 233, 1);
    }
    .copyright__leftContainer--dark {
      background: $color4;
    }
    .copyright__leftContainer {
      height: 100%;
      width: 60%;
    }
    .copyright__rightContainer {
      height: 100%;
      width: 40%;
      background: $color3;
      clip-path: polygon(1% 0, 100% 0, 100% 100%, 70% 100%);
    }
  }
}

@keyframes mapLeftContainerShow {
  0% {
    right: 0%;
    width: 60%;
  }
  100% {
    right: 60%;
    width: 0%;
  }
}

@keyframes mapRightContainerShow {
  from {
    left: 0%;
    width: 40%;
  }
  to {
    left: 140%;
    width: 0%;
  }
}

.footerDesktop {
  position: relative;
  .footerDesktop__topContainer {
    // top: 0;
    // left: -50%;
    // transform: translate(0.08%, 0);
    // height: 0;
    // width: 98.85vw;
    // position: absolute;
    // visibility: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 0;
    width: 99.81%;
    position: absolute;
 
  }
  .footerDesktop__topContainer--show {
    animation-name: desktopShowMap;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transition: ease-in;
  }
  .footerDesktop__topContainer--hide {
    animation-name: desktopHideMap;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transition: ease-in;
  }

  .footerDesktop__middleContainer {
    width: 100%;
    height: 250px;
    background-image: url(../../assets/images/1438834.jpg);
    background-position: 20% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    .middleContainer__leftContainer--bright {
      background: rgba(255, 255, 255, 0.7);
    }
    .middleContainer__leftContainer--dark {
      background: rgba(0, 0, 0, 0.7);
    }
    .middleContainer__leftContainer {
      height: 100%;
      width: 60%;
      display: flex;
      position: relative;
      .leftContainer__logoContainer {
        position: absolute;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        .logoContainer__logo--dark {
          filter: $logoFilter;
        }
        .logoContainer__logo {
          width: 180px;
        }
      }
      .leftContainer__dataContainer {
        height: 100%;
        width: 100%;
        background: $color3;
        clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        .dataContainer__left {
          width: 40%;
        }
        .dataContainer__right {
          width: 60%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .right__addressContainer {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .addressContainer__element:first-child {
              font-size: 20px;
              align-self: center;
              margin-bottom: 10px;
            }
            .addressContainer__element {
              font-size: 14px;
              margin: 0 0 15px 0;
              color: $color2;
            }
          }
          .right__infoContainer {
            margin-top: 43px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .infoContainer__element {
              font-size: 14px;
              margin: 0 0 15px 0;
              color: $color2;
            }
          }
        }
      }
    }
    .topContainer__rightContainer {
      height: 100%;
      width: 40%;
      display: flex;
      .rightContainer__leftContainer {
        width: 60%;
        height: 100%;
        background-image: url(../../assets/images/186077.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .leftContainer__backgroundContainer--bright {
          background: rgba(255, 255, 255, 0.7);
        }
        .leftContainer__backgroundContainer--dark {
          background: rgba(0, 0, 0, 0.7);
        }
        .leftContainer__backgroundContainer {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .backgroundContainer__textContainer--bright {
            color: $color1;
          }
          .backgroundContainer__textContainer--dark {
            color: $color2;
          }
          .backgroundContainer__textContainer {
            font-size: 24px;
            text-align: center;
            .textContainer__icon--bright {
              color: $color3;
            }
            .textContainer__icon--dark {
              color: $color2;
            }
          }
        }
      }
      .rightContainer__rightContainer {
        width: 40%;
        height: 100%;
        background-image: url(../../assets/images/34753.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .rightContainer__background--bright {
          background: rgba(255, 255, 255, 0.4);
        }
        .rightContainer__background--dark {
          background: rgba(0, 0, 0, 0.7);
        }
        .rightContainer__background {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .background__textContainer--bright {
            color: $color1;
          }
          .background__textContainer--dark {
            color: $color2;
          }
          .background__textContainer {
            cursor: pointer;
            font-size: 24px;
            text-align: center;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }
  .footerDesktop__bottomContainer--bright {
    background: rgba(198, 218, 233, 1);
  }
  .footerDesktop__bottomContainer--dark {
    background: $color4;
  }
  .footerDesktop__bottomContainer {
    width: 100%;
    height: 25px;
    position: relative;
    display: flex;
    .bottomContainer__text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      z-index: 1;
      color: white;
    }
    .bottomContainer__leftContainer--bright {
      background: rgba(198, 218, 233, 1);
    }
    .bottomContainer__leftContainer--dark {
      background: $color4;
    }
    .bottomContainer__leftContainer {
      height: 100%;
      width: 30%;
    }
    .bottomContainer__rightContainer {
      height: 100%;
      width: 70%;
      background: $color3;
      clip-path: polygon(0% -10%, 100% -10%, 100% 100%, 10% 100%);
    }
  }
}


// @keyframes desktopShowMap {
//   0% {
//     height: 60vh;
//     position: absolute;
//     visibility: visible;
//   }
  
//   100% {
//     height: 60vh;
//     position: static;
//     visibility: visible;
//   }
// }


// @keyframes desktopHideMap {
//   0% {
//     height: 60vh;
//     position: static;
//     visibility: visible;
//   }
  
//   100% {
//     height: 0;
//     position: absolute;
//     visibility: hidden;
//   }
// }



@keyframes desktopShowMap {
  0% {
    height: 0;
    position: absolute;
    visibility: visible;
    top: 589px;
  }
  
  100% {
    height: 585px;
    position: absolute;
    top: -589px;
  }
}


@keyframes desktopHideMap {
  0% {
    height: 585px;
    position: absolute;
    top: -589px;
  }
  
  100% {
    height: 0;
    position: absolute;
    visibility: hidden;
    top: 0px;
 
  }
}

