@import "../../../scss/variables/variables.scss";

// STYLING
.contactMobile--bright {
  .contactMobile__specialisations {
    background-color: $color2;
  }
}
.contactMobile--dark {
  .contactMobile__specialisations {
    background-color: $color3;
  }
}
// LAYOUT
.contactMobile {
  .contactMobile__contactForm {
    height: 1000px;
  }
  .contactMobile__specialisations {
    height: 1000px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
