@import "../../../scss/variables/variables.scss";
// STYLING
.sliderMobile--styling {
  .sliderMobile__slidesContainer {
    .slidesContainer__slide {
      .slide__text {
        font-size: 20px;
      }
    }
  }
  .sliderMobile__smallSlidesContainer {
    .smallSlidesContainer__arrow {
      font-size: 15vw;
    }
    .smallSlidesContainer__slidesContainer {
      .slidesContainer__slide {
        box-shadow: 2px 2px 4px 0px black;
      }
    }
  }
}
// STYLING DIVIDED INTO BRIGHT AND DARK WEBSITE MODE
// BRIGHT
.sliderMobile--bright {
  .sliderMobile__slidesContainer {
    .slidesContainer__slide {
      .slide__text {
        color: $color1;
        text-shadow: 0px 0px 5px $color2;
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .sliderMobile__smallSlidesContainer {
    background: $color2;
    .smallSlidesContainer__arrow {
      color: $color1;
    }
    .smallSlidesContainer__slidesContainer {
      .currentSmall {
        border: 1px solid $color1;
      }
    }
  }
}
// DARK
.sliderMobile--dark {
  .sliderMobile__slidesContainer {
    .slidesContainer__slide {
      .slide__text {
        color: $color2;
        text-shadow: 0px 0px 5px $color1;
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
  .sliderMobile__smallSlidesContainer {
    background: $color3;
    .smallSlidesContainer__arrow {
      color: $color6;
    }
    .smallSlidesContainer__slidesContainer {
      .currentSmall {
        border: 1px solid $color2;
      }
    }
  }
}

// LAYOUT
.sliderMobile {
  .sliderMobile__slidesContainer {
    width: 100vw;
    min-height: 400px;
    height: 60vh;
    display: flex;
    position: relative;
    overflow: hidden;
    .slidesContainer__slide {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: none;
      .slide__text {
        position: absolute;
        padding: 8px;
        display: inline-block;
        width: 40%;
      }
      .slide__text--left {
        animation-name: textLeftMove;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        text-align: right;
        top: 30%;
        left: -100%;
      }
      .slide__text--right {
        animation-name: textRightMove;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        text-align: left;
        top: 60%;
        right: -100%;
      }
    }
  }
  .sliderMobile__smallSlidesContainer {
    width: 100vw;
    height: 25vw;
    position: relative;
    .smallSlidesContainer__arrow {
      position: absolute;
    }
    .smallSlidesContainer__arrow--left {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    .smallSlidesContainer__arrow--right {
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
    .smallSlidesContainer__slidesContainer {
      position: relative;
      left: 50%;
      width: 75%;
      height: 100%;
      transform: translate(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      .slidesContainer__slide {
        margin-left: 2px;
        margin-right: 2px;
        height: 60%;
        width: 31%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
// ANIMATIONS
@keyframes textLeftMove {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes textRightMove {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
