.cursor--bright {
  color: black;
}
.cursor--dark {
  color: white;
}
.cursor::before {
  transform: rotate(-90deg);
  scale: 150%;
}
.cursor {
  z-index: 1000;
  position: fixed;
  pointer-events: none;
  top: 19px;
  left: 17px;
}

@media screen and (max-width: 1200px) {
  .cursor {
    display: none;
  }
}
