// VARIABLES
$color1: black;
$color2: white;
$color3: rgb(60, 0, 0);
$color4: rgb(30, 30, 30);
$color5: rgb(60, 60, 60);
$color6: rgb(217, 217, 217);
$logoFilter: invert(100%) contrast(200%) saturate(200%) hue-rotate(190deg); 
